{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<h1>votre panier</h1>
	<div class="container">
		{% if items | length > 0 %}
			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Categorie</th>
						<th>Quantité</th>
						<th>Prix</th>
						<th>Total</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>
								{{item.product.name}}
							</td>
							<td>
								{{item.product.category.name}}
							</td>
							<td>
								<a class="btn btn-success" href="{{ path('cart_lessQty',{'id':item.product.id}) }}">-</a>
								{{item.quantity}}<a class="btn btn-success" href="{{ path('cart_addQty',{'id':item.product.id}) }}">+</a>
							</td>
							<td>
								{{item.product.price}}€
							</td>
							<td>
								{{item.product.price * item.quantity}}€
							</td>
							<td>
								<a href="{{path('cart_remove',{'id':item.product.id})}}" class="btn btn-danger btn-sm">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
										<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
										<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
									</svg>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<td>
							Total :
						</td>
						<td>
							{{total}}€</td>
						<td></td>
					</tr>
				</tfoot>
			{% else %}
				<h1>Votre panier est vide</h1>
			{% endif %}
		</table>
		{% if app.user %}
        {# <a class="btn btn-primary" href="{{ path('order_add',{'user':app.user.id}) }}">Commander</a> #}
        <a class="btn btn-primary" href="{{path('order_add',{'user':app.user.id})}}">Commander</a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('app_login')}}">Connectez vous</a>
    {% endif %}
	</div>
{% endblock %}
