{% extends 'base.html.twig' %}
{% block title %}Hello Products!
{% endblock %}
{% block body %}
	<h1>Liste des produits</h1>
	<br>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">Id produit</th>
					<th class="text-center">Produit</th>
					<th class="text-center">Catégorie</th>
					<th class="text-center">Stock</th>
					<th class="text-center">Prix</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			{% for product in products %}
			<tr>
				<td class="text-center">
					{{product.Id}}
				</td>
				<td class="text-center">
					{{product.name}}
				</td>
                <td class="text-center">
					{{product.category.name}}
				</td>
                <td class="text-center">
					{{product.quantity}}
				</td>
                <td class="text-center">
					{{product.Price}}€
				</td>

				<td class="text-center">
					<a class="btn btn-warning" href="{{ path('prod-edit',{'id':product.id}) }}">modifier</a>
					<a class="btn btn-danger" href="{{ path('prod-delete',{'id':product.id}) }}" onclick="return confirm('Are you sure you want to delete this item?');">supprimer</a>
				</td>
			</tr>
	</div>
{% endfor %}
		</table>
<a class="btn btn-primary" href="{{ path('prod-new') }}">Création d'un nouveau produit</a>
        {% endblock %}